{% extends "user_page/wrapper.html" %}

{% load static %}

{% block extrahead %}
    <link type='text/css' rel='stylesheet' href={% static "/css/interview-style.css" %}> 
    <script src={% static "/js/interview-functions.js" %}></script>
{% endblock %}

{% block interview %}

    <div class="new_interview">
        <form name="interviewQuestions" id = "interviewQuestions">

        </form>

        <button id="interview-add_question" class='center-input'>Добавить вопрос</button>


        <button id="interview-save_question" class='center-input'>Сохранить</button>
    </div>


{% endblock %} 
