{% extends "user_page/wrapper.html" %}
{% load static %}

{% block extrahead %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static '/js/create_test.js' %}"></script>


{% endblock %}

{% block login %}
<div class="container">

{% if isCompany == '1' %}
    <h3>Это компания => редачим</h3>
    <div class="collection"></div>
    <input type="button" value="Добавить вопрос" id="AddCol" onclick=addColumn()>
    <br>
    <input type="button" value="Сохранить тест" onclick=submitData({{ test }})>
{% else %}

    <h3>Это соискатель</h3>
    {% for choice in questions %}
        <div>
          <h1>{{ choice.quest }}</h1>
            {% if choice.type != 2 %}
                {% for ans in choice.ans %}
                    {% if choice.type == 0 %}
                        <input type="checkbox" id="ans" name="{{ ans }}"/>
                    {% elif choice.type == 1 %}
                        <input type="radio" id="ans" name="{{ choice.quest }}"/>
                    {% endif %}
                    <label for="ans">{{ ans }}</label><br>
                {% endfor %}
            {% else %}
                <input type="text" id="ans" name="{{ choice.quest }}"/><br>
            {% endif %}
            <input type="button" value="Next"/>
        </div>
    {% endfor %}
{% endif %}
</div>
{% endblock %}