{% extends "user_page/wrapper.html" %}
{% load static %}

{% block extrahead %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static '/js/ajax_setup.js' %}"></script>

{% if isCompany == '1' %}
<script src="{% static '/js/create_test.js' %}"></script>
{% else %}
<script src="{% static '/js/testing.js' %}"></script>
{% endif %}

{% endblock %}

{% block login %}
<div class="container">
{% if isCompany == '1' %}
    <h1>Создание теста</h1>
    <div class="collection row"></div>
    <input type="button" value="Добавить вопрос" id="AddCol" onclick=addColumn()>
    <br>
    <input id="savebtn" type="button" value="Сохранить тест" onclick="submitData({{ test }}, {{ order }})" style="display: none;">
{% else %}
    <h1>Пройдите тест</h1>
    <div class="progress" style="margin-top: 30px; margin-bottom: 20px">
      <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
    </div>
    {% for choice in questions %}
        <div id="quest" style="display: none;">
            <center>
          <h1>{{ choice.quest }}</h1>
                <img src="/{{ choice.img }}" width="400px">
            </center>
            <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <hr>
            <div id="ans_inp">
            {% if choice.type != 2 %}
                {% for ans in choice.ans %}
                    {% if choice.type == 0 %}
                        <input type="checkbox" id="ans" name="{{ ans }}"/>
                    {% elif choice.type == 1 %}
                        <input type="radio" id="ans" name="{{ choice.quest }}"/>
                    {% endif %}
                    <label for="ans">{{ ans }}</label><br>
                {% endfor %}
            {% else %}
                <input type="text" id="ans" name="{{ choice.quest }}"/><br>
            {% endif %}
            </div>
                <hr>
                <center>
            <input type="button" value="Назад" id="backbtn" style="display: none;"/>
            <input type="button" value="Далее" id="nextbtn"/>
            <input type="button" value="Завершить" id="submitData" style="display: none;" onclick="submitData({{ test }}, {{ vac }}, {{order}})" />
                </center>
            </div><div class="col-md-2"></div>
            </div>
        </div>
    {% endfor %}
{% endif %}
    <input type="button" id="startConfetti" hidden>
    <script src="{% static '/js/plugin/jquery_confetti.js' %}"></script>
</div>
{% endblock %}