{% extends "user_page/wrapper.html" %}
{% load static %}

{% block extrahead %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static '/js/ajax_setup.js' %}"></script>

{% if isCompany == '1' %}
<script src="{% static '/js/create_test.js' %}"></script>
{% else %}
<script src="{% static '/js/testing.js' %}"></script>
{% endif %}

<link type='text/css' rel='stylesheet' href={% static "/css/interview-style.css" %}>

{% endblock %}

{% block login %}
<div class="">
    <div class="main--wrapper">
    <div class="main-menu--top">
        <ul class="main-menu--top-ul">
            <li class="main-menu--top-li">пункт 1</li>
            <li class="main-menu--top-li">пункт 2</li>
            <li class="main-menu--top-li">пункт 3</li>
            <li class="main-menu--top-li">
                <form action="/auth/logout">
                    <input type="submit" value="Выйти">
                </form>
            </li>
        </ul>
    </div>
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">
                {% if isCompany == '1' %}
                Создание теста
                {% else %}
                Прохождение теста
                {% endif %}
            </h1>
            <p>
                Инструкция инструкция инструкция инструкция инструкция инструкция инструкция инструкция инструкция
            </p>
        </div>

    </div>
    <div class="container main-content">
        <div class = "info">
        </div>
<div class = "answer">
{% if isCompany == '1' %}
    <h1>Создание теста</h1>
    <div id="existFiels" hidden>
    {% for choice in exist_field %}
        <input id="exist_quest" type="text" value="{{ choice.quest }}"/><br>
        <div id="answ">
        {% for ans in choice.ans %}
            <input id="exist_ans" type="text" value="{{ans}}"/><br>
        {% endfor %}
        </div>
        <div id="answ_tru">
        {% for ans_tr in choice.ans_tr %}
            <input id="exist_ans_tr" type="text" value="{{ans_tr}}"/><br>
        {% endfor %}
        </div>
    {% endfor %}
    </div>
    <div class="collection row"></div>
    <input type="button" class="btn btn-lg btn-secondary" value="Добавить вопрос" id="AddCol" onclick=addColumn() style="margin: 10px">
    <br>
    {% if exist_check == '0' %}
    <input id="savebtn" class="btn btn-lg btn-secondary" type="button" value="Сохранить тест" onclick="submitData({{ test }}, {{ order }})" style="display: none; margin: 10px">
    {% else %}
    <input id="savebtn" class="btn btn-lg btn-secondary" type="button" value="Сохранить тест" onclick="submitData({{ test }}, -5)" style="display: none; margin: 10px">
    {% endif %}
{% else %}
    <h1>Пройдите тест</h1>
    <div class="progress" style="margin-top: 30px; margin-bottom: 20px">
      <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
    </div>
    {% for choice in questions %}
        <div id="quest" style="display: none;">
            <center>
          <h1>{{ choice.quest }}</h1>
                <img src="/{{ choice.img }}" width="400px">
            </center>
            <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <hr>
            <div id="ans_inp">
            {% if choice.type != 2 %}
                {% for ans in choice.ans %}
                    {% if choice.type == 0 %}
                        <input type="checkbox" id="ans" name="{{ ans }}"/>
                    {% elif choice.type == 1 %}
                        <input type="radio" id="ans" name="{{ choice.quest }}"/>
                    {% endif %}
                    <label for="ans">{{ ans }}</label><br>
                {% endfor %}
            {% else %}
                <input type="text" id="ans" name="{{ choice.quest }}"/><br>
            {% endif %}
            </div>
                <hr>
                <center>
            <input type="button" value="Назад" id="backbtn" style="display: none;" class="btn btn-lg btn-secondary"/>
            <input type="button" value="Далее" id="nextbtn" class="btn btn-lg btn-secondary"/>
            <input type="button" value="Завершить" id="submitData" style="display: none;" onclick="submitData({{ test }}, {{ vac }}, {{order}})" class="btn btn-lg btn-secondary"/>
                </center>
            </div><div class="col-md-2"></div>
            </div>
        </div>
    {% endfor %}
{% endif %}
</div>
    <input type="button" id="startConfetti" class="btn btn-lg btn-secondary" hidden>
    <script src="{% static '/js/plugin/jquery_confetti.js' %}"></script>
</div>
{% endblock %}