{% extends "user_page/wrapper.html" %}

{% load static %}

{% block extrahead %}
    <link type='text/css' rel='stylesheet' href={% static "/css/auth-style.css" %}> 
{% endblock %}


{% block title %}

    Страница индекс

{% endblock %} 

{% block main %}
    
    {% if username %}
        <h2>Контент снизу будет виден только авторизированному пользователю</h2>
        <h2>Текущий пользователь: {{username}} </h2>
        <form action="/auth/logout">
            <input type="submit" value="Выйти">
        </form>

        {{param1}} <br>
        {{param2}} <br>
        {{param3}} <br>
        <ol>
            {% for num in numbers %}
                <li>{{num}}</li>
            {% endfor %}
        </ol>

        <ol>
            {% for kit in kitty %}
                <li>Димас обычно говорит: {{kit.Dimas}}</li>
                <li>Однако {{kit.Iriska}}</li>
            {% endfor %}
        </ol>

        {% if status == 'ERROR' %}
            <h3>Произошла ошибка и мы вернули параметр как ерор</h3>
        {% else %}
            <h3>Ошибки нет</h3>
        {% endif %}
    {% else %}
        <div  class="text-center not_auth--wrapper flex-column">
            <div class="need_auth">
                <h2 class="need_auth--h2">Добро пожаловать!</h2>
                <h4 class="need_auth--h4">Для дальнейшей работы необходимо авторизоваться</h4>
                <form action="/auth/login">
                    <input type="submit" value="Войти" class="btn btn-lg btn-secondary btn_auth--register" style="font-size: 25px;">
                </form>
                <br>
                <form action="/auth/registration" class="need_auth--elem">
                    <input type="submit" value="Зарегистрироваться"  class="btn btn-lg btn-secondary btn_auth--register">
                </form>
            </div>
        </div>
    {% endif %}



{% endblock %} 