{% extends "user_page/wrapper.html" %}

{% load static %}

{% block extrahead %}
    <link type='text/css' rel='stylesheet' href='{% static "/css/auth-style.css" %}'>
    
    <link type='text/css' rel='stylesheet' href={% static "/css/interview-style.css" %}> 
{% endblock %}


{% block title %}

    Страница индекс

{% endblock %} 

{% block main %}
    
    {% if status > 0 %}
        <div class="main--wrapper">
            <div class="main-menu--top">
                <ul class="main-menu--top-ul">
                    <li class="main-menu--top-li"><a href="/test/all_vacancies/" class="tag--a">Все вакансии</a></li>
                    <li class="main-menu--top-li"><a href="/test/my_vac/" class="tag--a">Мои вакансии</a></li>
                    {% if status %}
                    <li class="main-menu--top-li"><a href="/test/create_vac/" class="tag--a">Создать вакансию</a></li>
                    {% endif %}
                    <li class="main-menu--top-li">
                        <form action="/auth/logout">
                            <input type="submit" value="Выйти">
                        </form>
                    </li>
                </ul>
            </div>
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-3">Привет, {{username}}</h1>
                    <p>
                        Тут много буков о том какой чудесный и замечательный у нас сайт и какая крутая команда разработчиков. Тут много буков о том какой чудесный и замечательный у нас сайт и какая крутая команда разработчиков. Тут много буков о том какой чудесный и замечательный у нас сайт и какая крутая команда разработчиков.
                    </p>
                    <p><a class="btn btn-primary btn-lg" href="#" role="button">Уйти отсюдова >></a></p>
<!--                    <h2>Контент снизу будет виден только авторизированному пользователю</h2>-->

<!--                    <h2>Текущий пользователь: {{username}} </h2>-->

                </div>

            </div>
            <div class="container main-content">
                <div class="row">
                    {% if status %}
                        <div class="col-md-4">
                            <h2>Просмотр всех вакансий</h2>
                            <p>Здесь будут показаны все вакансии, которые размещены на нашем сервисе</p>
                            <p><a class="btn btn-secondary" href="/test/all_vacancies/" role="button">View details »</a></p>
                        </div>
                        {% if status == 2 %}
                            <div class="col-md-4">
                                <h2>Вакансии моей компании</h2>
                                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                                <p><a class="btn btn-secondary" href="/test/my_vac/" role="button">View details »</a></p>
                            </div>
                            <div class="col-md-4">
                                <h2>Добавить новую вакансию</h2>
                                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                                <p><a class="btn btn-secondary" href="/test/create_vac/" role="button">View details »</a></p>
                            </div>
                        {% endif %}
                        {% if status == 1 %}
                        <div class="col-md-4">
                            <h2>Мои вакансии</h2>
                            <p>Здесь показан список ваших вакансий</p>
                            <p><a class="btn btn-secondary" href="/test/my_vac/" role="button">View details »</a></p>
                        </div>
                        {% endif %}
                    {% else %}
                        <div class="col-md-6">
                            <h2>Просмотр всех вакансий</h2>
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                            <p><a class="btn btn-secondary" href="/test/all_vacancies/" role="button">View details »</a></p>
                        </div>
                        <div class="col-md-6">
                            <h2>Мои вакансии</h2>
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                            <p><a class="btn btn-secondary" href="/test/my_vac/" role="button">View details »</a></p>
                        </div>
                    {% endif %}
                </div>
            </div>

<!--            {% if status %}-->
<!--            <h4>company</h4>-->
<!--            <form method="get" action="/test/all_vacancies/">-->
<!--                <button type="submit">Посмотреть все вакансии</button>-->
<!--            </form>-->
<!--            <a href="/test/my_vac"><button onlick="return false;">Посмотреть вакансии моей компании</button></a>-->
<!--            <a href="/test/create_vac"><button onlick="return false;">Создать вакансию</button></a>-->
<!--            {% else %}-->
<!--            <h4>user</h4>-->
<!--            <a href="/test/all_vacancies/"><button onlick="return false;">Посмотреть вакансии</button></a>-->
<!--            <a href="/test/my_vac"><button onlick="return false;">Посмотреть мои вакансии</button></a>-->
<!--            {% endif %}-->
        </div>
<footer>
    ©vsemi_lubimaya_komanda, 2020
</footer>

    {% else %}
        <div  class="text-center not_auth--wrapper flex-column">
            <div class="need_auth">
                <h2 class="need_auth--h2">Добро пожаловать!</h2>
                <h4 class="need_auth--h4">Для дальнейшей работы необходимо авторизоваться</h4>
                <form action="/auth/login">
                    <input type="submit" value="Войти" class="btn btn-lg btn-secondary btn_auth--register" style="font-size: 25px;">
                </form>
                <br>
                <form action="/auth/registration" class="need_auth--elem">
                    <input type="submit" value="Зарегистрироваться"  class="btn btn-lg btn-secondary btn_auth--register">
                </form>
            </div>
        </div>
    {% endif %}



{% endblock %} 