{% extends "user_page/wrapper.html" %}

{% load static %}

{% block extrahead %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src = {% static "/js/create-open-form.js" %}></script>
    <link href = {% static "/css/create-open-form.css" %} type = "text/css" rel = "stylesheet">
    

{% endblock %}

{% block title %}

    Страница открытой формы

{% endblock %} 

{% block main %}

    {% if not username %}
        <script type="text/javascript">
            location="http://localhost:8000/test/";
        </script>
    {% endif %}
    
    {% if not isCompany %}
        <script type="text/javascript">
            location="http://localhost:8000/test/";
        </script>
    {% endif %}

<div class = "info">
    Сформулируйте задание с развернутым ответом
</div>

<div class = "answer">
    
    <form id = "openFormAns" method = "POST" action = "/open-form/write_openForm_ans/" name="myform">
        {% csrf_token %}
        <input type="hidden" name = "id" value = {{id}}>
        <textarea rows = "10" cols = "60" name = "text" placeholder="Напишете тут текст задачи"> 
            
        </textarea>
        <input type="number" name = "num">
        <input type = "button" onclick = func() value = "Отправить">
    </form>
</div>

<div class = "status">

</div>
    


{% endblock %} 