{% extends "user_page/wrapper.html" %}

{% load static %}

{% block extrahead %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src = {% static "/js/open_form-index.js" %}></script>
    <!-- <link href = {% static "/css/open_form-index.css" %} type = "text/css" rel = "stylesheet"> -->
    <link type='text/css' rel='stylesheet' href={% static "/css/interview-style.css" %}> 

{% endblock %}

{% block title %}

    Страница открытой формы

{% endblock %} 

{% block main %}

    {% if not username %}
        <script type="text/javascript">
            location="http://localhost:8000/test/";
        </script>
    {% endif %}

    {% if isCompany %}
        <script type="text/javascript">
            location="http://localhost:8000/test/";
        </script>
    {% endif %}
    

    <div class="main--wrapper">
        <div class="main-menu--top">
            <ul class="main-menu--top-ul">
                <li class="main-menu--top-li">пункт 1</li>
                <li class="main-menu--top-li">пункт 2</li>
                <li class="main-menu--top-li">пункт 3</li>
                <li class="main-menu--top-li">
                    <form action="/auth/logout">
                        <input type="submit" value="Выйти">
                    </form>
                </li>
            </ul>
        </div>
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">Ответ на задание с развернутым ответом</h1>
        
            </div>
    
        </div>
        <div class="container main-content">
            <div class = "info">
                {{description}}
            </div>
            <div class = "answer">

                <form id = "openFormAns" method = "POST" action = "/open-form/write_openForm_ans/" name="myform">
                {% csrf_token %}
                <input type="hidden" name = "id" value = {{id}}>
                <textarea rows = "10" cols = "60" name = "answer" placeholder="Дайте здесь развернутый ответ" class="interview--textarea"></textarea>
                <input type = "button" onclick = func() value = "Отправить"  class="btn btn-lg btn-secondary">
                <input type ="file" id = "file" name = "file">
                </form>
            </div>
        </div>
    </div>
    
        
        <footer>
            ©vsemi_lubimaya_komanda, 2020
        </footer>
    
    


{% endblock %} 