{% extends "user_page/wrapper.html" %}

{% block title %}

    Все вакансии

{% endblock %} 

{% block main %}

    <h2>Страница со всеми вакансиями</h2>
    <h2>Текущий пользователь: {{username}} </h2>
    
    {% if username %}
        <form action="/auth/logout">
            <input type="submit" value="Выйти">
        </form>
        {% if status == 2 %}
            <h4>company</h4>
            
            <a href="/test/all_vacancies"><button>Посмотреть все вакансии</button></a></form>
            <a href="/test/my_vac"><button onlick="return false;">Посмотреть вакансии моей компании</button></a>
            <a href="/test/create_vac"><button onlick="return false;">Создать вакансию</button></a>

            <p>Список вакансий</p>
            {% for vac in vacancies %}
                <p>{{vac.name}} || {{vac.company}}</p>
            {% endfor %}
        {% elif status == 1 %}
            <h4>user</h4>
            <a href="/test/all_vacancies"><button onlick="return false;">Посмотреть вакансии</button></a>
            <a href="/test/my_vac"><button onlick="return false;">Посмотреть мои вакансии</button></a>
            {% for vac in vacancies %}
                <p>{{vac.name}} || {{vac.company}} || {{vac.pk}}</p>
                <button onclick="add_to_my_courses({{vac.pk}})">Записаться на вакансию</button>
            {% endfor %}
            <script>
                function add_to_my_courses(id_cours){
                    $.post('{% url 'add_vac_to_usr' %}', {'id_usr': {{user_.pk}}, 'vac_id': id_cours, 'csrfmiddlewaretoken': '{{ csrf_token }}'})
                        .done(function(response) { 
                            alert('zalua')
                        });
                }
            </script>
        {% endif %}
    {% else %}
        <form action="/auth/login">
            <input type="submit" value="Войти">
        </form>
        <form action="/auth/registration">
            <input type="submit" value="Зарегестрироваться">
        </form>
    {% endif %}



{% endblock %} 