{% extends "user_page/wrapper.html" %}

{% load static %}

{% block extrahead %}
    <link type='text/css' rel='stylesheet' href='{% static "/css/auth-style.css" %}'>
    <link type='text/css' rel='stylesheet' href={% static "/css/interview-style.css" %}> 
{% endblock %}


{% block title %}

    Все вакансии

{% endblock %} 

{% block main %}

{% if username %}
    {% if status %}

    <div class="main--wrapper">
        <div class="main-menu--top">
            <ul class="main-menu--top-ul">
                <li class="main-menu--top-li"><a href="/test/all_vacancies/" class="tag--a">Все вакансии</a></li>
                <li class="main-menu--top-li"><a href="/test/my_vac/" class="tag--a">Мои вакансии</a></li>
                {% if status %}
                <li class="main-menu--top-li"><a href="/test/create_vac/" class="tag--a">Создать вакансию</a></li>
                {% endif %}
                <li class="main-menu--top-li">
                    {% if username %}
                    <form action="/auth/logout">
                        <input type="submit" value="Выйти">
                    </form>
                    {% endif %}
                </li>
            </ul>
        </div>
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">Создание вакансии</h1>
                <p>
                    Текущий пользователь: {{username}}
                </p>
            </div>

        </div>
        <div class="container main-content">

            <p>Форма создания вакансии</p>
            <form id="login" method="POST" action="/test/create_vac/add_vac" class="form_new_vacancy">    
                {% csrf_token %}
                {{ forms.as_ul }}
                <input type="submit" name="log" id="log" value="Добавить вакансию">     
                <br><br>    
            </form>    

        </div>
    </div>

    
    <footer>
        ©vsemi_lubimaya_komanda, 2020
    </footer>

    {% endif %}
{% else %}
    <div  class="text-center not_auth--wrapper flex-column">
        <div class="need_auth">
            <h2 class="need_auth--h2">Добро пожаловать!</h2>
            <h4 class="need_auth--h4">Для дальнейшей работы необходимо авторизоваться</h4>
            <form action="/auth/login">
                <input type="submit" value="Войти" class="btn btn-lg btn-secondary btn_auth--register" style="font-size: 25px;">
            </form>
            <br>
            <form action="/auth/registration" class="need_auth--elem">
                <input type="submit" value="Зарегистрироваться"  class="btn btn-lg btn-secondary btn_auth--register">
            </form>
        </div>
    </div>
{% endif %}
        
{% endblock %} 