{% extends "user_page/wrapper.html" %}

{% load static %}
{{status}}

{% block auth_comp %} {% if status == 2 %}
    <h3>
        Компания, с вакансии попадаем сюда и делаем стадии
    </h3>

    {{vacansy.name}}
    {{vacansy.description}}
    {{vacansy.salary}}
    
    <div class="stages">

    </div>
    <br>

    <input type="button" id="add_stage" value="Добавить стадию" onclick="add_stage()">
    <select id="select_stage">
        <option value="1">
            Добавить тест
        </option>
        <option value="2">
            Добавить страницу с информацией
        </option>
        <option value="3">
            Добавить форму для очного собеседования
        </option>
        <option value="4">
            Добавить форму для крупного ответа
        </option>
    </select>


    <script>
        var k = 1;
        $(function(){
            {% for a in Tests %}
                $(".stages").append('<div class="Test"> Тест </div>')
            {% endfor %}
            {% for a in Texts %}
                $(".stages").append('<a href="/informpage/page/{{a.pk}}"><div class="Test"> Страница с информацией {{a.pk}}</div></a>')
            {% endfor %}
            {% for a in Interviewes %}
                $(".stages").append('<a href="/interview/new/?interview={{a.pk}}"><div class="Test"> Форма для очного собеседования {{a.pk}}</div></a>')
            {% endfor %}
            {% for a in OpenForms %}
                $(".stages").append('<a href="/open-form/edit-open-form/{{a.pk}}/"><div class="Test"> Форма для крупного ответа {{a.pk}} </div></a>')
            {% endfor %}
        });
        function add_stage(){
            num = $('#select_stage').val();
            // num = document.getElementById('add_stage').value
            $.post('{% url 'add_by_number' %}', {'num_order': k, 'num_vac': {{pk_id}}, 'id_stage': num, 'csrfmiddlewaretoken': '{{ csrf_token }}'})
                        .done(function(response) { 
                            k += 1;
                            if (num == 1) {
                                $(".stages").append('<div class="Test"> Тест </div>')
                            }
                            else if (num == 2) {
                                $(".stages").append('<div class="Test"> Страница с информацией </div>')
                            }
                            else if (num == 3) {
                                $(".stages").append('<div class="Test"> Форма для очного собеседования </div>')
                            }
                            else if (num == 4){
                                $(".stages").append('<div class="Test"> Форма для крупного ответа</div>')
                            }
                        });
        }
    </script>

<!-- Здесь блок авторизированной компании -->
{% endif %}{% endblock %}

{% block anonimus %} {% if 2 > status %}
    <h3>Вас здесь быть не должно</h3>
{% endif %}{% endblock %}